[submodule "Carthage/Checkouts/ObjectMapper"]
	path = Carthage/Checkouts/ObjectMapper
	url = https://b3347a236cf716d0b3e9fc76ecec12dcec41cbc5@github.com/Hearst-DD/ObjectMapper.git
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://b3347a236cf716d0b3e9fc76ecec12dcec41cbc5@github.com/tondol/Alamofire.git
